@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px #303F73;
}

body::-webkit-scrollbar {
 display: none;
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-thumb {
  border: 8px solid #0e1117;
  background-color: #252d4a;
  background-clip: padding-box;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
